
<nav>
  <ul class="pagination">
    <li{% if not page_obj.has_previous %} class="unavailable"{% endif %}>
      <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
        <span>&laquo;</span>
      </a>
    </li>
    {% for page in paginator.page_range %}
    <li{% if page == page_obj.number %} class="active"{% endif %}>
      <a href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}
    <li{% if not page_obj.has_next %} class="unavailable"{% endif %}>
      <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
